{% extends "home.html" %}
{% load static %}
{% block content %}


<body>

  <main id="main" class="main">
  <h2 style="color:#fff;font-family:verdana;position:absolute;top:125px;right:420px">CUSTOMER REPORT</h2>
<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">

                    <form method="POST">
                      {% csrf_token %}


                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label" >From Date</label>
                                    <input class="input--style-4" type="date" name="date1" id="date1" required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">To Date</label>
                                    <input class="input--style-4" type="date" name="date2" id="date2" required>
                                </div>
                            </div>
                        </div>

                        <div class="input-group">

                            <div class="rs-select2 js-select-simple select--no-search">
                                <label class="label">Customer name</label>

<!--                                <input class="input&#45;&#45;style-4">-->

                                <select class="form-control" id="customer" name='customer_name'>
                                        <option value=''></option>
                                        {% for i in members %}
                                            {% for j in i %}

                                                <option value='{{j}}'>{{ j }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>

<!--                                <div class="select-dropdown"></div>-->
                            </div>
                        </div>
                        <div class="p-t-15">
<!--                            <input type="submit" name="submit" id="submit" value='GET REPORT' onClick="return validate();"/>-->
                            <center><button class="btn btn--radius-2 btn--blue" type="submit">GET DATA</button></center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>


  </main><!-- End #main -->



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>


</body>

{% endblock %}

</html>