<!--{% extends 'home1.html' %}-->

<!--{% block content %}-->
<!--  <main id="main" class="main" >-->
<!--   <h2 style="color: white; ">Confirm delete:</h2>-->

<!--    <p style="color: white;">Are you sure you want to delete {{ object }}?</p>-->
<!--    <form method="post">-->
<!--      {% csrf_token %}-->
<!--      <button type="submit" class="btn btn-danger">Delete</button>-->

<!--      <a href="{% url 'student_detail' %}"style="margin-left: 50px;">Cancel</a>-->
<!--    </form>-->
<!--  </main>-->
<!--{% endblock %}-->