{% extends 'home.html' %}

{% block content %}

  <main id="main" class="main">
    <script>
function editStudent(id) {
  var form = document.getElementById('edit-form-' + id);
  var formData = new FormData(form);
  var xhr = new XMLHttpRequest();
  xhr.open('POST', form.action);
  xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
  xhr.onreadystatechange = function() {
    if (xhr.readyState === 4 && xhr.status === 200) {
      // handle the response from the server
      console.log(xhr.responseText);
    }
  };
  xhr.send(formData);
}


</script>
    <h1>Student List</h1>
    <table>
      <thead>
        <tr>
          <th>Sender 1</th>

          <th>CC 1</th>

          <th>Engineer Name</th>
          <th>Hour</th>
          <th>Minutes</th>
          <th>Days</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        {% for student in Student %}
          <tr>
            <td>{{ student.sender1 }}</td>

            <td>{{ student.cc1 }}</td>

            <td>{{ student.Engineer_Name }}</td>
            <td>{{ student.hour }}</td>
            <td>{{ student.minutes }}</td>
            <td>{{ student.days }}</td>
           <td><button onclick="<a href='#/edit_student/32/'/>">Editttt</button></td>

          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% for student in Student %}
      <form id="edit-form-{{ student.id }}" style="display:none;" method="POST" action="{% url 'edit_student' student.id %}">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ student.id }}">
        <label>Sender 1:</label>
        <input type="text" name="sender1" value="{{ student.sender1 }}"><br>

        <label>CC 1:</label>
        <input type="text" name="cc1" value="{{ student.cc1 }}"><br>
        <label>Engineer Name:</label>
        <input type="text" name="Engineer_Name" value="{{ student.Engineer_Name }}"><br>
        <label>Hour:</label>
        <input type="text" name="hour" value="{{ student.hour }}"><br>
        <label>Minutes:</label>
        <input type="text" name="minutes" value="{{ student.minutes }}"><br>
        <label>Days:</label>
        <input type="text" name="days" value="{{ student.days }}"><br>
        <button type="submit">Save</button>
      </form>
    {% endfor %}
  </main>
{% endblock %}
