{% extends 'home.html' %}

{% block content %}
  <main id="main" class="main">
    <h1>Send Email to Student</h1>

    <form method="POST">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{ student.id }}">
      <label>Sender 1:</label>
      <input type="text" name="sender1" value="{{ student.sender1 }}"><br>
      <label>Sender 2:</label>
      <input type="text" name="sender2" value="{{ student.sender2 }}"><br>
      <label>Sender 3:</label>
      <input type="text" name="sender3" value="{{ student.sender3 }}"><br>
      <label>Sender 4:</label>
      <input type="text" name="sender4" value="{{ student.sender4 }}"><br>
      <label>CC 1:</label>
      <input type="text" name="cc1" value="{{ student.cc1 }}"><br>
      <label>CC 2:</label>
      <input type="text" name="cc2" value="{{ student.cc2 }}"><br>
      <label>CC 3:</label>
      <input type="text" name="cc3" value="{{ student.cc3 }}"><br>
      <label>CC 4:</label>
      <input type="text" name="cc4" value="{{ student.cc4 }}"><br>
      <label>Engineer Name:</label>
      <input type="text" name="Engineer_Name" value="{{ student.Engineer_Name }}"><br>
      <label>Hour:</label>
      <input type="text" name="hour" value="{{ student.hour }}"><br>
      <label>Minutes:</label>
      <input type="text" name="minutes" value="{{ student.minutes }}"><br>
      <label>Days:</label>
      <input type="text" name="days" value="{{ student.days }}"><br>
      <button type="submit">Submit</button>
    </form>
  </main>
{% endblock %}
